{{> nav }}
<div class="w-100 p-3">
    <table class="table table-sm text-white w-100">
        <thead>
            <tr>
                <th scope="col">NDC</th>
                <th scope="col">NAME</th>
                <th scope="col">TYPE</th>
                <th scope="col">MANUFACTURER</th>
                <th scope="col">QOH</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td>{{ product_ndc }}</td>
                <td>{{ generic_name }}</td>
                <td>{{ product_type }}</td>
                <td>{{ manufacturer_name }}</td>
                <td>{{ quantity_on_hand }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>